body {
    font-family: Helvetica, sans-serif;
    margin: 0 !important;
    background-color: #f7f9fb;
}

#header {
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-color: #31708b;
    color: white; */
    margin-left: 10px;
    margin-top: 0;
    height: 40px;
    border-color: lightslategray;
    border-width: 1px;
    /* border-bottom: 1px;
    border-left: none;
    border-right: none;
    border-top: none; */
}

#main-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 30px;
    margin-left: 10px;
}

.device {
    background-color: white;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#device-text {
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 25px;
    margin-bottom: 5px;
}

.button {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 3px;
    width: 38px;
}

.button:hover {
    color: #5085a5;
}

.button:active {
    color: #5085a5;
}

.reading-type {
    outline: none;
    margin-left: 6px;
}

#select-device-reading {
    margin-right: 10px;
    margin-bottom: 6px;
}
/* #Malo {
    background-color: #8E6E95;
    color: white;
}

#Figg {
    background-color: #39a59c;
    color: white;
}

#Cana {
    background-color: #344759;
    color: white;
}

#Fron {
    background-color: #e8741e;
    color: white;
} */